<!DOCTYPE html>
<html>
<head>
  <title>Films</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "banner">
	<%= image_tag("movie-night.jpg", :size => "100x50") %>
	<%= "Movies we Love" %>
</div>

<div id="nav">
	<ul>
		<li><%=link_to "Home", root_path %></li>
		<li><%=link_to "Movie News", 'http://oscar.go.com/nominees' %></li>
		<li><%=mail_to "mary.regan@dit.ie", "Contact us" %></li>
		<li><%=link_to "Movies", movies_path%></li>
		<% if !signed_in?%>
			<li><%= link_to "Sign In", login_path %></li>
		<% else %>
			<li>Signed in as<%= @current_user.name %></li>
			<li><%= link_to "Sign Out", logout_path %></li>
		<% end %>
	</ul>
</div>

<%= yield %>

</body>
</html>
